.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.body {
	min-height: 100%;
	position: relative;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
}
